<section class="index-page">

  <div>
    <img src="{{ userAvatar }}" alt="Profile Picture" class="avatar">
  </div> 
  <h1>
    Hello {{userName}} {{userSurname}}!
  </h1>

  <a href="/auth/logout" class="logOutBtn  logoutBtn--google">
    Log out
  </a>
</section>